page-business-profile {

  .font {
    font-family : "bauerBondi";
  }


  .toolbar-background{
    color : #fbb73a;
  }

  .filters {


        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            ion-icon {
                color: #ccc;
            }

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {

            margin: 0;
            font-size: 1.3rem;
            line-height: 1.6rem;
        }

        .selected {
            font-weight: 700;
        }
    }

}
