<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'TUTORIAL_SKIP_BUTTON' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce class="splash-bg" scroll="false">
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <div class="spacer" font-family="bauerBondi" style="width:300px;height:380px;"></div>
      <h2 class="font" style="color:#fbb73a;">Kick start your business today!</h2>

    </ion-slide>
    <ion-slide>
      <div class="spacer" style="width:300px;height:380px;"></div>

      <h2 class="font" style="color:#fbb73a;">Login or create a profile</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        {{ 'TUTORIAL_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
